<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">@ViewBag.Directory1</a>
                <a class="breadcrumb-item text-dark" href="#">@ViewBag.Directory2</a>
                <a class="breadcrumb-item text-dark" href="#">@ViewBag.Directory3</a>
                <span class="breadcrumb-item active">Ürün Listesi</span>
            </nav>
        </div>
    </div>
</div>