@model UserDetailViewModel
@{
    Layout = null;
}

<link href="c:\users\senem\desktop\udemycourses\c#\multishop\frontend\multishop.webuı\wwwroot\lib\bootstrap\dist\css\bootstrap.rtl.min.css" rel="stylesheet" />
<div class="container">
    <br /><br /><br />
    <h3>Kullanıcı Profil Bilgisi</h3>
    <div class="alert alert-info">Kullanıcı Id:@Model.Id</div>
    <div class="alert alert-info">Kullanıcı Ad:@Model.Username</div>
    <div class="alert alert-info">Kullanıcı Soyad:@Model.Surname</div>
    <div class="alert alert-info">Kullanıcı Email:@Model.Email</div>

</div>