
@{
    Layout = null;
}

<!DOCTYPE html>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
<div class="container">
    <br /> <br />
    <h3 class="alert alert-success">Dolar Alış:@ViewBag.Exchange - Dolar Satış:@ViewBag.Previous</h3>
    <h3 class="alert alert-danger">Euro Alış:@ViewBag.ExchangeEur - Euro Satış:@ViewBag.PreviousEur</h3>
</div>