@model List<ResultCategoryDto>
@{
    Layout = null;
}
<a href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map">~/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map</a>
<div class="container">
    <br />
   <table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.Name</td>
            </tr>
        }
    </table>
</div>