@model List<ResultOfferDiscountDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    bool isDisabled = Model.Count >= 2; 
    string disabledAttribute = isDisabled ? "disabled" : "";
    string isWorking = isDisabled ? "#" : "CreateDiscountOffer";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>İndirim Teklifi Listesi</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>İndirim Teklif Başlığı</th>
                                <th>İndirim Teklif Alt Başlığı</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Title</td>
                                    <td>@item.Subtitle</td>
                                    <td><a href="DeleteDiscountOffer/@item.OfferDiscountId" class="btn btn-danger">Sil</a></td>
                                    <td><a href="UpdateDiscountOffer/@item.OfferDiscountId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    
                    <a href="@isWorking" @disabledAttribute class="btn btn-primary">Yeni İndirim Teklifi Girişi</a>
                </div>
            </div>
        </div>
    </div>
</section>


